<ion-header>
  <ion-navbar>
    <ion-title>
      Mü
    </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <button ion-button (click)="goalsTapped($event)">Goals</button>
  
  
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-6>
        <ion-list>
          <ion-item *ngFor="let foodKey of FOOD_KEYS">
            <div *ngIf="ingredients[foodKey] | async as ingredient" style="min-width: 50rem">
              
              <ion-grid>
                <ion-row>
                  <ion-col col-4 style="display: flex; align-items: center">
                    <h1>{{ ingredient.food.name | titlecase }}</h1>
                  </ion-col>
                  <ion-col col-2 style="display: flex; align-items: center">
                    {{ ingredient.amount }} g
                  </ion-col>
                  <ion-col col-6>
                    <ion-range class="mu-remove-padding" min="0" max="200" step="5" [formControl]="amountControllers[foodKey]">
                    </ion-range>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>
                      1 g has:
                      {{ ingredient.food.energy | unit }},
                      {{ingredient.food.protein | unit}} Protein,
                      {{ ingredient.food.lipidsTotal | unit }} Lipids,
                      {{ ingredient.food.carbsTotal | unit }} Carbs &middot;
                    </p>
                    <!-- <p>
                      {{ ingredient.food.carbs | unit }} Carbs
                    </p>
                    <p>
                      {{ ingredient.food.energy | unit }} &middot; {{ ingredient.food.water | unit }} Water &middot; {{ingredient.food.protein | unit}} Protein
                    </p>
                    <p>
                      {{ ingredient.food.calcium | unit }} Calcium &middot; {{ingredient.food.magnesium | unit}} Magnesium &middot; {{ ingredient.food.iron | unit }} Iron
                    </p>
                    <p>
                      {{ ingredient.food.vitamin_a | unit }} Vitamin A &middot; {{ingredient.food.vitamin_b6 | unit}} Vitamin B6 &middot; {{ ingredient.food.vitamin_c | unit }} Vitamin C &middot; {{ ingredient.food.vitamin_d | unit }} Vitamin D
                    </p> -->
                  </ion-col>
                </ion-row>
              </ion-grid>
              
              
              <!-- <ion-range min="0" max="200" step="5" [formControl]="amountControllers[foodKey]">
                <ion-icon small range-left name="cafe"></ion-icon>
                <ion-icon range-right name="cafe"></ion-icon>
              </ion-range> -->
              <!-- <code><pre>{{ ingredient.food | json }}</pre></code> -->
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12 col-lg-6>
        <h1><small>{{ nutrients['amount'] | async | unit }} g of </small>Super Duper Müsli</h1>
        <p>
          
        </p>
        <p>
          {{ nutrients['energy'] | async | unit }}/{{ caloriesGoal | async | unit }} &middot;
          {{ nutrients['water'] | async | unit }}/{{ goals['water'] | async | unit }} Water &middot;
          {{ nutrients['protein'] | async | unit }}/{{ goals['protein'] | async | unit }} Protein
        </p>
        <p>
          {{ nutrients['lipids'] | async | unit }}/{{ goals['lipids'] | async | unit }} Fat (
          {{ nutrients['saturatedLipids'] | async | unit }}/{{ goals['saturatedLipids'] | async | unit }} Saturated Fat &middot;
          {{ nutrients['monoLipids'] | async | unit }}/{{ goals['monoLipids'] | async | unit }} Monounsaturated Fat &middot;
          {{ nutrients['polyLipids'] | async | unit }}/{{ goals['polyLipids'] | async | unit }} Polyunsaturated Fat
          )
        </p>
        <p>
          {{ nutrients['totalCarbs'] | async | unit }}/{{ goals['totalCarbs'] | async | unit }} Carbs (
          {{ nutrients['sugar'] | async | unit }}/{{ goals['sugar'] | async | unit }} Sugars &middot;
          {{ nutrients['fiber'] | async | unit }}/{{ goals['fiber'] | async | unit }} Fibers &middot;
          {{ nutrients['otherCarbs'] | async | unit }}/{{ goals['otherCarbs'] | async | unit }} Other
          )
        </p>
        <p>
          {{ nutrients['calcium'] | async | unit }}/{{ goals['calcium'] | async | unit }} Calcium &middot; {{nutrients['magnesium'] | async | unit}}/{{ goals['magnesium'] | async | unit }} Magnesium &middot; {{ nutrients['iron'] | async | unit }}/{{ goals['iron'] | async | unit }} Iron
        </p>
        <p>
          {{ nutrients['vitamin_a'] | async | unit }}/{{ goals['vitamin_a'] | async | unit }} Vitamin A &middot; {{nutrients['vitamin_b6'] | async | unit}}/{{ goals['vitamin_b6'] | async | unit }} Vitamin B6 &middot; {{ nutrients['vitamin_c'] | async | unit }}/{{ goals['vitamin_c'] | async | unit }} Vitamin C &middot; {{ nutrients['vitamin_d'] | async | unit }}/{{ goals['vitamin_d'] | async | unit }} Vitamin D
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>